html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
  
    position: relative;
    height: 100%;
    background: linear-gradient(#6084d7 25%, #a2cef4 50%, #a2cef4 50%, #6084d7 100%);
  }
  
  .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    perspective: 360px;
    perspective-origin: 50% 50%;
  }
  
  .top-plane, .bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image: -webkit-linear-gradient(#a2cef4 2px, transparent 2px), -webkit-linear-gradient(left, #a2cef4 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop 2s infinite linear;
  }
  
  .bottom-plane {
    transform: rotateX(-85deg);
    top: -30%;
    animation: planeMoveBot 2s infinite linear;
  }
  
  @keyframes planeMoveTop {
    from {
      background-position: 0px -100px,0px 0px;
    }
    to {
      background-position: 0px 0px, 100px 0px;
    }
  }
  @keyframes planeMoveBot {
    from {
      background-position: 0px 0px,0px 0px;
    }
    to {
      background-position: 0px -100px, 100px 0px;
    }
  }
  @media (max-height: 350px) {
    .wrap {
      perspective: 210px;
    }
  }
  header {
    background-color: #1877F2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
  
/* Estilos para as postagens no feed de notícias */
.post {
    background-color: #a2cef4;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    opacity: 50%;
    margin-right: 80%;
    height: 480px;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Estilos para o rodapé */
footer {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    position: relative;
 
}


.right {
    background-color: #a2cef4;
    border: 1px solid #ccc;
    padding: 10px;
    opacity: 0.5; /* 50% de opacidade */
    margin: 20px;
    margin-top: 70px;
    position: absolute;
    top: 20px; /* Ajuste a distância do topo conforme necessário */
    right: 20px; /* Ajuste a distância da direita conforme necessário */
    height: 480px;
}

.corpo{
    min-height: 100vh;
}